/* LEGAL TEXT */

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}


/* Gallery */
.gallery {
    display: flex;
}

.gallery__photo {
    width: 100%;
    display: block;

}

/* HOTEL OVERVIEW */
.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-2);
}

.overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
}

.overview__stars {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.overview__icon-star {
    fill: var(--color-primary);
    height: 2rem;
    width: 2rem;
}

.overview__icon-location {
    fill: var(--color-primary);
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center;

}

.over__icon-location {
    margin-right: .5rem;
}

.overview__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    padding: 0 2.25rem;
    color: #fff;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
}

.overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 300;
}
/* BUTTON INLINE */
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding: 3px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-inline:hover {
    color: #333;
}

.btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}
